/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* Basic font defaults*/
* {
  font-size: 1em;
}
html {
  font-size: 62.5%; /*10px for easy calculations*/
  scroll-behavior: smooth;
}
body {
  margin: 0;
}
/* CSS Variables for font sizes*/
:root {
  --baseFontSize: 1.6rem; /*16px*/
  --marginSize: 1.6rem;
  --mainColor: darkviolet;
  --backgroundColor: #222;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
  font-size: var(--baseFontSize);
}

/* Typography Styles ----- */
@import url("https://fonts.googleapis.com/css?family=Poppins:400");

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.75;
  background-color: var(--backgroundColor);
  color: #eee;
}

p {
  font-size: var(--baseFontSize);
  margin-bottom: var(--marginSize);
}

h1,
h2,
h3,
h4,
h5 {
  margin: 4.8rem 0 2.2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: 4.8rem;
}

h2 {
  font-size: 3.9rem;
  color: var(--mainColor);
}

h3 {
  font-size: 3.1rem;
  color: var(--mainColor);
}

h4 {
  font-size: 2.5rem;
  color: var(--mainColor);
}

h5 {
  font-size: 2rem;
  color: var(--mainColor);
}

small,
.text_small {
  font-size: 1.28rem;
}

.highlight {
  color: var(--mainColor);
}

/* Layout Styles ----- */
.main-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3rem auto 10rem;
  grid-template-areas:
    "header"
    "main"
    "footer";
}
header {
  /* background-color: red; */
  grid-area: header;
  font-size: var(--baseFontSize);
  display: grid;
  grid-template-columns: 180px 1fr;
  position: sticky;
  top: -2rem;
  padding-top: 2rem;
  z-index: 2;
  background-color: var(--backgroundColor);
}
#site-title {
  height: 3rem;
  /*Base64 image styled at end of this file*/
}
nav {
  /* background-color: green; */
  font-size: var(--baseFontSize);
  box-shadow: 0 0.6rem 1.2rem rgba(0, 0, 0, 0.3);
}
main {
  /* background-color: pink; */
  grid-area: main;
  position: relative;
  z-index: 1;
  margin-top: 2rem; /* adjust for sticky menu*/
  background-color: var(--backgroundColor);
  box-shadow: 0 0.6rem 1.2rem rgba(0, 0, 0, 0.7);
}
footer {
  /* grid-area: footer; */
  font-size: var(--baseFontSize);
  height: 18rem;
  padding-top: var(--marginSize);
  margin-top: -2rem;
  background-color: tomato;
  position: sticky;
  bottom: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "left center right";
}

/* - Sub styles ---*/

main section {
  /* border: 1px solid red; */
  max-width: 120rem;
  margin: 0 auto;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}
section#intro {
  justify-content: center;
  background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='427' height='427' viewBox='0 0 800 800'%3E%3Crect fill='none' width='800' height='800'/%3E%3Cg fill='none' stroke='%239400D3' stroke-width='1' stroke-opacity='0.5'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23FF6347' fill-opacity='0.5'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
  /* background by SVGBackgrounds.com */
}
section#intro h1 {
  margin: 0;
  width: 75vw;
}
section#intro p {
  width: 75vw;
}
#changeText {
  /*Not currently used*/
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 1rem;
  margin-top: var(--marginSize);
}

.project {
  /* background-color: gray; */
  position: relative;
  top: 0;
  transition: all 0.25s ease-in-out;
}
.project:hover {
  top: -15px;
}

.project a {
  display: inline-block;
  text-decoration: none;
}
.project h3 {
  margin-top: 1rem;
}

section h1 {
  margin: auto;
}

/*- Menu and footer--- */

.inline-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  height: 100%;
}
.inline-list li {
  padding-top: 2rem; /* Need to fix at bottom*/
  margin-top: -2rem; /* Need to fix at bottom*/
  background-color: tomato;
  flex-grow: 1;
  box-shadow: inset 0 0 0 0 var(--mainColor);
  transition: ease-out 0.2s;
}
.inline-list li a {
  display: block;
  margin-top: -2rem;
  padding-top: 2rem;
  text-align: center;
  color: #eee;
  text-decoration: none;
}

.inline-list li:hover {
  /*background-color: var(--mainColor);*/
  cursor: pointer;
  /*transition: all 0.2s ease-in-out;*/
  box-shadow: inset 400px 0 0 0 var(--mainColor);
}

footer a {
  color: #eee;
  text-decoration: none;
  display: block;
}

footer .nav-page {
  grid-area: center;
  padding: 0;
  margin: 0;
  margin-top: 2rem;
  list-style: none;
}
.nav-page li {
  box-shadow: inset 0 0 0 0 var(--mainColor);
  transition: ease-out 0.2s;
}
.nav-page li:hover {
  /*background-color: var(--mainColor);*/
  cursor: pointer;
  box-shadow: inset 400px 0 0 0 var(--mainColor);
}

footer .social-links {
  grid-area: right;
}
.social-links li {
  height: 100%;
  margin-top: 0;
}
.social-links a {
  height: 100%;
}
#footer {
  height: 0;
}

/*--- Media Queries -----*/

@media screen and (max-width: 1500px) {
  section#intro {
    /* Fix weird alignment of hero on very wide screens*/
    align-items: center;
  }
}
@media screen and (max-width: 550px) {
  header {
    grid-template-columns: 120px 1fr;
  }

  footer {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "center right";
  }

  footer .nav-page {
    margin-left: var(--marginSize);
  }
}
@media screen and (max-width: 321px) {
  header {
    grid-template-columns: 1fr;
    grid-template-rows: 50px 30px;
    height: 80px;
    position: sticky;
    top: -30px;
    padding-top: 0px;
    z-index: 2;
    background-color: var(--backgroundColor);
  }
  main {
    margin-top: 4rem; /* adjust for sticky menu*/
  }
}

/*-- Base64 images ----*/
#site-title {
  text-indent: -10000px; /* Move text off screen except for screen readers*/
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
  background-color: var(--backgroundColor);
  background-image: url("data:image/svg+xml,%3Csvg viewBox='222.94 289.547 198.417 66.51' width='198.417' height='66.51' xmlns='http://www.w3.org/2000/svg'%3E%3Cdefs%3E%3ClinearGradient id='gradientb3KEJsi8Y5' gradientUnits='userSpaceOnUse' x1='257.87' y1='290.4' x2='366.01' y2='384.61'%3E%3Cstop style='stop-color: %239400d3;stop-opacity: 1' offset='0'/%3E%3Cstop style='stop-color: %23ff6347;stop-opacity: 1' offset='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg%3E%3Cg id='b1Q0rtgnDF'%3E%3Cpath d='M 266.13 355.043 L 226.24 337.703 C 225.107 337.21 224.273 336.573 223.74 335.793 C 223.207 335.013 222.94 334.21 222.94 333.383 C 222.94 332.53 223.213 331.697 223.76 330.883 C 224.313 330.07 225.17 329.42 226.33 328.933 L 266.04 312.273 C 266.467 312.12 266.94 312.043 267.46 312.043 C 268.013 312.043 268.51 312.15 268.95 312.363 C 269.397 312.577 269.78 312.86 270.1 313.213 C 270.42 313.567 270.673 313.963 270.86 314.403 C 271.04 314.85 271.13 315.303 271.13 315.763 C 271.13 316.403 270.947 317 270.58 317.553 C 270.213 318.1 269.633 318.543 268.84 318.883 L 233.91 333.383 L 268.93 348.573 C 269.723 348.913 270.297 349.357 270.65 349.903 C 271.003 350.457 271.163 351.053 271.13 351.693 C 271.13 352.613 270.81 353.457 270.17 354.223 C 269.523 354.99 268.68 355.373 267.64 355.373 C 267.4 355.373 267.15 355.35 266.89 355.303 C 266.63 355.257 266.377 355.17 266.13 355.043 ZM 283.206 310.393 L 288.156 310.393 L 289.036 298.043 C 289.096 297.37 289.286 296.767 289.606 296.233 C 289.926 295.693 290.333 295.24 290.826 294.873 C 291.313 294.507 291.846 294.233 292.426 294.053 C 293.006 293.867 293.59 293.773 294.176 293.773 C 295.276 293.773 296.253 294.11 297.106 294.783 C 297.966 295.457 298.396 296.513 298.396 297.953 L 298.396 310.393 L 305.416 310.393 C 306.67 310.393 307.62 310.783 308.266 311.563 C 308.906 312.343 309.226 313.19 309.226 314.103 C 309.226 315.023 308.913 315.867 308.286 316.633 C 307.66 317.4 306.703 317.783 305.416 317.783 L 298.396 317.783 L 298.396 336.873 C 298.396 339.047 298.433 340.883 298.506 342.383 C 298.586 343.883 298.786 345.1 299.106 346.033 C 299.426 346.967 299.93 347.64 300.616 348.053 C 301.31 348.46 302.266 348.663 303.486 348.663 C 303.793 348.663 304.13 348.65 304.496 348.623 C 304.863 348.59 305.23 348.55 305.596 348.503 C 305.97 348.463 306.316 348.427 306.636 348.393 C 306.956 348.36 307.206 348.343 307.386 348.343 C 308.553 348.343 309.456 348.727 310.096 349.493 C 310.743 350.26 311.066 351.117 311.066 352.063 C 311.066 353.043 310.766 353.84 310.166 354.453 C 309.573 355.067 308.793 355.557 307.826 355.923 C 306.86 356.29 305.78 356.54 304.586 356.673 C 303.393 356.813 302.186 356.883 300.966 356.883 C 298.826 356.883 296.93 356.607 295.276 356.053 C 293.623 355.507 292.23 354.597 291.096 353.323 C 289.963 352.057 289.1 350.383 288.506 348.303 C 287.906 346.223 287.606 343.667 287.606 340.633 L 287.606 317.783 L 283.156 317.783 C 281.87 317.783 280.913 317.4 280.286 316.633 C 279.66 315.867 279.346 315.023 279.346 314.103 C 279.346 313.19 279.666 312.343 280.306 311.563 C 280.953 310.783 281.92 310.393 283.206 310.393 ZM 349.709 351.143 L 349.709 327.283 C 349.709 325.537 349.465 324.02 348.979 322.733 C 348.485 321.447 347.825 320.377 346.999 319.523 C 346.172 318.663 345.209 318.027 344.109 317.613 C 343.009 317.207 341.845 317.003 340.619 317.003 C 338.999 317.003 337.485 317.263 336.079 317.783 C 334.672 318.303 333.439 319.09 332.379 320.143 C 331.325 321.197 330.492 322.427 329.879 323.833 C 329.265 325.247 328.959 327.023 328.959 329.163 L 328.959 351.143 C 328.959 352.003 328.809 352.753 328.509 353.393 C 328.202 354.04 327.795 354.583 327.289 355.023 C 326.782 355.47 326.199 355.8 325.539 356.013 C 324.885 356.227 324.222 356.333 323.549 356.333 C 322.875 356.333 322.215 356.227 321.569 356.013 C 320.929 355.8 320.355 355.47 319.849 355.023 C 319.349 354.583 318.945 354.04 318.639 353.393 C 318.332 352.753 318.179 352.003 318.179 351.143 L 318.179 295.423 C 318.179 294.597 318.332 293.863 318.639 293.223 C 318.945 292.583 319.349 292.057 319.849 291.643 C 320.355 291.23 320.939 290.917 321.599 290.703 C 322.252 290.483 322.915 290.373 323.589 290.373 C 324.262 290.373 324.922 290.483 325.569 290.703 C 326.209 290.917 326.782 291.23 327.289 291.643 C 327.795 292.057 328.202 292.583 328.509 293.223 C 328.809 293.863 328.959 294.597 328.959 295.423 L 328.959 318.923 C 329.512 317.79 330.315 316.62 331.369 315.413 C 332.429 314.207 333.645 313.19 335.019 312.363 C 336.399 311.537 337.882 310.91 339.469 310.483 C 341.062 310.05 342.685 309.833 344.339 309.833 C 346.479 309.833 348.522 310.17 350.469 310.843 C 352.409 311.517 354.122 312.567 355.609 313.993 C 357.089 315.413 358.265 317.233 359.139 319.453 C 360.012 321.673 360.449 324.313 360.449 327.373 L 360.449 351.143 C 360.449 352.003 360.295 352.753 359.989 353.393 C 359.682 354.04 359.279 354.583 358.779 355.023 C 358.272 355.47 357.689 355.8 357.029 356.013 C 356.369 356.227 355.702 356.333 355.029 356.333 C 354.355 356.333 353.705 356.227 353.079 356.013 C 352.452 355.8 351.889 355.47 351.389 355.023 C 350.882 354.583 350.475 354.04 350.169 353.393 C 349.862 352.753 349.709 352.003 349.709 351.143 ZM 378.207 311.723 L 418.097 329.073 C 419.231 329.56 420.057 330.193 420.577 330.973 C 421.097 331.753 421.357 332.557 421.357 333.383 C 421.357 334.27 421.081 335.113 420.527 335.913 C 419.981 336.707 419.124 337.347 417.957 337.833 L 378.257 354.493 C 377.737 354.68 377.264 354.773 376.837 354.773 C 376.284 354.773 375.794 354.667 375.367 354.453 C 374.941 354.24 374.564 353.957 374.237 353.603 C 373.917 353.25 373.674 352.843 373.507 352.383 C 373.341 351.923 373.257 351.467 373.257 351.013 C 373.257 350.367 373.424 349.77 373.757 349.223 C 374.097 348.67 374.664 348.223 375.457 347.883 L 410.437 333.383 L 375.367 318.193 C 374.601 317.853 374.051 317.41 373.717 316.863 C 373.377 316.31 373.207 315.727 373.207 315.113 C 373.207 314.653 373.291 314.203 373.457 313.763 C 373.631 313.317 373.871 312.92 374.177 312.573 C 374.477 312.22 374.844 311.937 375.277 311.723 C 375.704 311.51 376.177 311.403 376.697 311.403 C 377.184 311.403 377.687 311.51 378.207 311.723 Z' transform='matrix(1, 0, 0, 1, 0, -0.8255252242088318)' style='fill: url(%23gradientb3KEJsi8Y5); line-height: 94px; white-space: pre; alignment-baseline: before-edge;'/%3E%3Cg%3E%3Cpath d='M 266.13 354.217 L 226.24 336.877 C 225.107 336.384 224.273 335.747 223.74 334.967 C 223.207 334.187 222.94 333.384 222.94 332.557 C 222.94 331.704 223.213 330.871 223.76 330.057 C 224.313 329.244 225.17 328.594 226.33 328.107 L 266.04 311.447 C 266.467 311.294 266.94 311.217 267.46 311.217 C 268.013 311.217 268.51 311.324 268.95 311.537 C 269.397 311.751 269.78 312.034 270.1 312.387 C 270.42 312.741 270.673 313.137 270.86 313.577 C 271.04 314.024 271.13 314.477 271.13 314.937 C 271.13 315.577 270.947 316.174 270.58 316.727 C 270.213 317.274 269.633 317.717 268.84 318.057 L 233.91 332.557 L 268.93 347.747 C 269.723 348.087 270.297 348.531 270.65 349.077 C 271.003 349.631 271.163 350.227 271.13 350.867 C 271.13 351.787 270.81 352.631 270.17 353.397 C 269.523 354.164 268.68 354.547 267.64 354.547 C 267.4 354.547 267.15 354.524 266.89 354.477 C 266.63 354.431 266.377 354.344 266.13 354.217 Z M 283.206 309.567 L 288.156 309.567 L 289.036 297.217 C 289.096 296.544 289.286 295.941 289.606 295.407 C 289.926 294.867 290.333 294.414 290.826 294.047 C 291.313 293.681 291.846 293.407 292.426 293.227 C 293.006 293.041 293.59 292.947 294.176 292.947 C 295.276 292.947 296.253 293.284 297.106 293.957 C 297.966 294.631 298.396 295.687 298.396 297.127 L 298.396 309.567 L 305.416 309.567 C 306.67 309.567 307.62 309.957 308.266 310.737 C 308.906 311.517 309.226 312.364 309.226 313.277 C 309.226 314.197 308.913 315.041 308.286 315.807 C 307.66 316.574 306.703 316.957 305.416 316.957 L 298.396 316.957 L 298.396 336.047 C 298.396 338.221 298.433 340.057 298.506 341.557 C 298.586 343.057 298.786 344.274 299.106 345.207 C 299.426 346.141 299.93 346.814 300.616 347.227 C 301.31 347.634 302.266 347.837 303.486 347.837 C 303.793 347.837 304.13 347.824 304.496 347.797 C 304.863 347.764 305.23 347.724 305.596 347.677 C 305.97 347.637 306.316 347.601 306.636 347.567 C 306.956 347.534 307.206 347.517 307.386 347.517 C 308.553 347.517 309.456 347.901 310.096 348.667 C 310.743 349.434 311.066 350.291 311.066 351.237 C 311.066 352.217 310.766 353.014 310.166 353.627 C 309.573 354.241 308.793 354.731 307.826 355.097 C 306.86 355.464 305.78 355.714 304.586 355.847 C 303.393 355.987 302.186 356.057 300.966 356.057 C 298.826 356.057 296.93 355.781 295.276 355.227 C 293.623 354.681 292.23 353.771 291.096 352.497 C 289.963 351.231 289.1 349.557 288.506 347.477 C 287.906 345.397 287.606 342.841 287.606 339.807 L 287.606 316.957 L 283.156 316.957 C 281.87 316.957 280.913 316.574 280.286 315.807 C 279.66 315.041 279.346 314.197 279.346 313.277 C 279.346 312.364 279.666 311.517 280.306 310.737 C 280.953 309.957 281.92 309.567 283.206 309.567 Z M 349.709 350.317 L 349.709 326.457 C 349.709 324.711 349.465 323.194 348.979 321.907 C 348.485 320.621 347.825 319.551 346.999 318.697 C 346.172 317.837 345.209 317.201 344.109 316.787 C 343.009 316.381 341.845 316.177 340.619 316.177 C 338.999 316.177 337.485 316.437 336.079 316.957 C 334.672 317.477 333.439 318.264 332.379 319.317 C 331.325 320.371 330.492 321.601 329.879 323.007 C 329.265 324.421 328.959 326.197 328.959 328.337 L 328.959 350.317 C 328.959 351.177 328.809 351.927 328.509 352.567 C 328.202 353.214 327.795 353.757 327.289 354.197 C 326.782 354.644 326.199 354.974 325.539 355.187 C 324.885 355.401 324.222 355.507 323.549 355.507 C 322.875 355.507 322.215 355.401 321.569 355.187 C 320.929 354.974 320.355 354.644 319.849 354.197 C 319.349 353.757 318.945 353.214 318.639 352.567 C 318.332 351.927 318.179 351.177 318.179 350.317 L 318.179 294.597 C 318.179 293.771 318.332 293.037 318.639 292.397 C 318.945 291.757 319.349 291.231 319.849 290.817 C 320.355 290.404 320.939 290.091 321.599 289.877 C 322.252 289.657 322.915 289.547 323.589 289.547 C 324.262 289.547 324.922 289.657 325.569 289.877 C 326.209 290.091 326.782 290.404 327.289 290.817 C 327.795 291.231 328.202 291.757 328.509 292.397 C 328.809 293.037 328.959 293.771 328.959 294.597 L 328.959 318.097 C 329.512 316.964 330.315 315.794 331.369 314.587 C 332.429 313.381 333.645 312.364 335.019 311.537 C 336.399 310.711 337.882 310.084 339.469 309.657 C 341.062 309.224 342.685 309.007 344.339 309.007 C 346.479 309.007 348.522 309.344 350.469 310.017 C 352.409 310.691 354.122 311.741 355.609 313.167 C 357.089 314.587 358.265 316.407 359.139 318.627 C 360.012 320.847 360.449 323.487 360.449 326.547 L 360.449 350.317 C 360.449 351.177 360.295 351.927 359.989 352.567 C 359.682 353.214 359.279 353.757 358.779 354.197 C 358.272 354.644 357.689 354.974 357.029 355.187 C 356.369 355.401 355.702 355.507 355.029 355.507 C 354.355 355.507 353.705 355.401 353.079 355.187 C 352.452 354.974 351.889 354.644 351.389 354.197 C 350.882 353.757 350.475 353.214 350.169 352.567 C 349.862 351.927 349.709 351.177 349.709 350.317 Z M 378.207 310.897 L 418.097 328.247 C 419.231 328.734 420.057 329.367 420.577 330.147 C 421.097 330.927 421.357 331.731 421.357 332.557 C 421.357 333.444 421.081 334.287 420.527 335.087 C 419.981 335.881 419.124 336.521 417.957 337.007 L 378.257 353.667 C 377.737 353.854 377.264 353.947 376.837 353.947 C 376.284 353.947 375.794 353.841 375.367 353.627 C 374.941 353.414 374.564 353.131 374.237 352.777 C 373.917 352.424 373.674 352.017 373.507 351.557 C 373.341 351.097 373.257 350.641 373.257 350.187 C 373.257 349.541 373.424 348.944 373.757 348.397 C 374.097 347.844 374.664 347.397 375.457 347.057 L 410.437 332.557 L 375.367 317.367 C 374.601 317.027 374.051 316.584 373.717 316.037 C 373.377 315.484 373.207 314.901 373.207 314.287 C 373.207 313.827 373.291 313.377 373.457 312.937 C 373.631 312.491 373.871 312.094 374.177 311.747 C 374.477 311.394 374.844 311.111 375.277 310.897 C 375.704 310.684 376.177 310.577 376.697 310.577 C 377.184 310.577 377.687 310.684 378.207 310.897 Z' style='fill-opacity: 0; line-height: 94px; stroke: rgb(148, 0, 211); white-space: pre; alignment-baseline: before-edge;'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.github {
  text-indent: -10000px; /* Move text off screen except for screen readers*/
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("data:image/svg+xml,%3Csvg width='512' height='512' xmlns='http://www.w3.org/2000/svg' style='vector-effect: non-scaling-stroke;' stroke='null'%3E%3Cg stroke='null'%3E%3Ctitle stroke='null'%3Ebackground%3C/title%3E%3Crect stroke='null' fill='none' id='canvas_background' height='514' width='514' y='-1' x='-1'/%3E%3C/g%3E%3Cg stroke='null'%3E%3Ctitle stroke='null'%3ELayer 1%3C/title%3E%3Cpath stroke='null' id='svg_1' fill-rule='evenodd' fill='%23ffffff' d='m255.984154,8.862152c-139.915488,0 -253.362191,113.446703 -253.362191,253.393871c0,111.941894 72.579278,206.919056 173.290551,240.43668c12.67207,2.312653 16.663771,-5.195549 16.663771,-11.911745c0,-6.019233 0.126721,-22.841405 0,-43.987921c-70.472547,15.317364 -85.077107,-33.375063 -85.077107,-33.375063c-11.515743,-29.272481 -28.116154,-37.065803 -28.116154,-37.065803c-22.999806,-15.713366 1.726569,-15.412405 1.726569,-15.412405c25.42334,1.78993 38.824053,26.120303 38.824053,26.120303c22.603804,38.697332 59.289445,27.514231 73.719765,21.051476c2.312653,-16.37865 8.870449,-27.545911 16.109368,-33.881946c-56.263989,-6.399395 -115.410873,-28.131994 -115.410873,-125.231727c0,-27.672632 9.868374,-50.276436 26.072783,-67.985653c-2.613614,-6.399395 -11.325662,-32.171217 2.486894,-67.066928c0,0 21.273237,-6.811237 69.664702,25.993583c20.211951,-5.623231 41.89703,-8.426926 63.439548,-8.521967c21.526678,0.095041 43.195917,2.898736 63.439548,8.521967c48.391466,-32.78898 69.633022,-25.993583 69.633022,-25.993583c13.812556,34.895712 5.116348,60.667533 2.518574,67.066928c16.204409,17.709217 26.041103,40.313021 26.041103,67.985653c0,97.353174 -59.241925,118.768972 -115.695995,125.025806c9.09221,7.840843 17.344895,23.047326 17.344895,46.680736c0,31.680174 0,61.808019 0,70.139905c0,6.779557 4.086742,14.271918 16.948893,11.816705c100.616232,-33.565144 173.13215,-128.494785 173.13215,-240.404999c0,-139.947168 -113.446703,-253.393871 -253.393871,-253.393871z' clip-rule='evenodd'/%3E%3C/g%3E%3C/svg%3E");
}
.twitter {
  text-indent: -10000px; /* Move text off screen except for screen readers*/
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("data:image/svg+xml,%3Csvg width='512' height='512' xmlns='http://www.w3.org/2000/svg' clip-rule='evenodd'%3E%3Cg%3E%3Ctitle%3Ebackground%3C/title%3E%3Crect fill='none' id='canvas_background' height='402' width='582' y='-1' x='-1'/%3E%3C/g%3E%3Cg%3E%3Ctitle%3ELayer 1%3C/title%3E%3Cpath fill='%23ffffff' id='svg_1' fill-rule='nonzero' d='m161.014,464.013c193.208,0 298.885,-160.071 298.885,-298.885c0,-4.546 0,-9.072 -0.307,-13.578c20.558,-14.871 38.305,-33.282 52.408,-54.374c-19.171,8.495 -39.51,14.065 -60.334,16.527c21.924,-13.124 38.343,-33.782 46.182,-58.102c-20.619,12.235 -43.18,20.859 -66.703,25.498c-19.862,-21.121 -47.602,-33.112 -76.593,-33.112c-57.682,0 -105.145,47.464 -105.145,105.144c0,8.002 0.914,15.979 2.722,23.773c-84.418,-4.231 -163.18,-44.161 -216.494,-109.752c-27.724,47.726 -13.379,109.576 32.522,140.226c-16.715,-0.495 -33.071,-5.005 -47.677,-13.148l0,1.331c0.014,49.814 35.447,93.111 84.275,102.974c-15.464,4.217 -31.693,4.833 -47.431,1.802c13.727,42.685 53.311,72.108 98.14,72.95c-37.19,29.227 -83.157,45.103 -130.458,45.056c-8.358,-0.016 -16.708,-0.522 -25.006,-1.516c48.034,30.825 103.94,47.18 161.014,47.104'/%3E%3C/g%3E%3C/svg%3E");
}
.linkedin {
  text-indent: -10000px; /* Move text off screen except for screen readers*/
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("data:image/svg+xml,%3Csvg width='512' height='512' xmlns='http://www.w3.org/2000/svg' clip-rule='evenodd'%3E%3Cg%3E%3Ctitle%3Ebackground%3C/title%3E%3Crect fill='none' id='canvas_background' height='402' width='582' y='-1' x='-1'/%3E%3C/g%3E%3Cg%3E%3Ctitle%3ELayer 1%3C/title%3E%3Cpath fill='%23ffffff' id='svg_1' d='m256,0c141.29,0 256,114.71 256,256c0,141.29 -114.71,256 -256,256c-141.29,0 -256,-114.71 -256,-256c0,-141.29 114.71,-256 256,-256zm-80.037,399.871l0,-199.921l-66.464,0l0,199.921l66.464,0zm239.62,0l0,-114.646c0,-61.409 -32.787,-89.976 -76.509,-89.976c-35.255,0 -51.047,19.389 -59.889,33.007l0,-28.306l-66.447,0c0.881,18.757 0,199.921 0,199.921l66.446,0l0,-111.65c0,-5.976 0.43,-11.95 2.191,-16.221c4.795,-11.935 15.737,-24.299 34.095,-24.299c24.034,0 33.663,18.34 33.663,45.204l0,106.966l66.45,0zm-272.403,-296.321c-22.74,0 -37.597,14.95 -37.597,34.545c0,19.182 14.405,34.544 36.717,34.544l0.429,0c23.175,0 37.6,-15.362 37.6,-34.544c-0.43,-19.595 -14.424,-34.545 -37.149,-34.545z'/%3E%3C/g%3E%3C/svg%3E");
}
